body{
    margin: 0px;
    height: 100vh;
    font-family: "Playfair Display", serif;
    background: linear-gradient(#EEAECA, #94BBE9);
}

h1, h3, h4, h5, p{
    margin: 0px;
}

.LoginMain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(13px, 1.1vw, 2rem);

}

.LoginCard{
    display: flex;
    gap: 20px;
    width: 70%;
}

.SideImg{
    width: 60%;
    height: 50vh;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    line-height: 25px;
    box-shadow: 0 0 10px #94BBE9;
}

.formcard{
    width: 40%;
    height: 50vh;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    box-shadow: 0 0 10px #EEAECA;
}



.LoginSec>div>input{
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    /* box-shadow: 0 0 5px #94BBE9; */
    box-shadow: 0 0 5px whitesmoke;
    color: white;
    border: none;
    border-radius: 20px;
    /* padding-left: 20px; */
    margin-top: 10px;
}

.submit>input{
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.648);
    box-shadow: 0 0 5px whitesmoke;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}